body{
  font-family: Futura, Helvetica, sans-serif;
}

h1{
  font-size: 2em;
}

section>h2{
  border-bottom: 1px dotted magenta;
}

section{
  border-bottom: 3px solid magenta;
}

.book {
  max-width: 150px;
}
.content-img {
  width: 80vw;
}