body{
  font-family: Futura, Helvetica, sans-serif;
}

header{
  color: black;
  padding: 0px;
  text-transform: uppercase;
  font-size: 2em;
  border-bottom: 4px solid black;
}

h1{
  font-size: 2em;
}

h2{
  border-bottom: 1px dotted magenta;
}

section{
  border-bottom: 8px solid black;
  padding: 2px;
  margin: 2px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

.homework{
  background-color: yellow;
  border-radius: 40px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.8);
  padding: 5px;
  margin: 5px;
  border: 2px black solid;
  max-width: 800px;
}

.book {
  max-width: 150px;
}
.content-img {
  width: 80vw;
}

.class-photos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 10px;
}

.img-block {
  max-width: 400px;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  border-color: black;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  background-color: white;
}

.img-block > img{
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

.img-block > p{
  font-style: italic;
}

.class-date {
  color: black;
  padding: 2px 5px 0 5px;
  margin: 5px 10% 0 5px;
}